/* */

.navbar-light .navbar-toggler-icon {
    background-image: url(https://freepikpsd.com/file/2019/10/toggle-menu-icon-png-8-Transparent-Images.png );
}

.navbar-light .navbar-toggler{
    outline: #fff;
    border-color: rgba(255,255,255);
}

.navbar-toggler:focus {
    box-shadow: 255 255 255;
}